:root {
  --title-large: 24px;
  --title-medium: 18px;
  --title-small: 15px;

  --color-primary: #fb37a3;
  --color-secondary: #fd68ba;
  --color-lightpink: #f9d1e9;
  --color-purple: #8e60cb;
  --color-lightgray: #f2f2f2;
  --color-mediumgray: #d8d8d8;
  --color-gray: #697077;
}

main {
  padding: 8vh 0;
}

/* 확대방지 */
html,
body {
  touch-action: manipulation;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-Freesentation);
  font-weight: 500;
}

/* 셀렉트 라이브러리 커스텀 */
.selectBox__placeholder {
  font-size: small;
  color: gray;
}
