.container {
  display: flex;
  flex-direction: column;
  padding: 5% 7%;
  row-gap: 10px;
}

.nickname {
  width: 80%;
  padding-left: 10%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  place-items: center;
  gap: 10px;
}

.nicknameForm {
  background-color: var(--color-lightgray);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}

.nicknameInput {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.nicknameInput::placeholder {
  color: var(--color-gray);
  font-size: 12px;
  padding: 10px;
}

.modal {
  background-color: white;
  padding: 3vh 10vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60vw;
  height: 30vh;
  justify-content: center;
}

.checkInput {
  display: flex;
  gap: 10px;
}

.button {
  flex: 1;
}

.inputAndText {
  flex: 2;
}

.buttonContainer {
  display: flex;
  width: 50%;
  gap: 10px;
  padding-left: 25%;
}

.isValid {
  text-align: center;
  margin: 5px;
  height: 15px;
}

.isValidText {
  color: var(--color-primary);
  font-size: small;
}

.bias,
.wishcard {
  background-color: white;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gradient {
  background: linear-gradient(to right, var(--color-start), var(--color-end));
  padding: 3px;
  border-radius: 5px;
}

.biasSelect {
  display: flex;
  gap: 10px;
}

.subtitle {
  font-size: small;
  color: var(--color-primary);
}

.biasImage {
  display: flex;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  width: 80px;
  aspect-ratio: 1;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
}
.image {
  border-radius: 100%;
}
.biasButton {
  width: 30%;
  padding-left: 35%;
}
