.card {
  display: flex;
  flex-direction: column;
  width: 86vw;
  padding-left: 7vw;
  row-gap: 10px;
}

.menuOverlay {
  z-index: 10;
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  height: calc(100% - 20vh);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.overlay {
  z-index: 10;
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  height: calc(100% - 8vh);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.overlayText {
  color: white;
  font-family: var(--font-DOSSaemmul);
  -webkit-text-stroke: 0.2px var(--color-primary);
  font-size: x-large;
  font-weight: 600;
}

.backButton {
  padding: 2% 5%;
  border-radius: 10px;
  background-color: var(--color-mediumgray);
  font-weight: 600;
  font-size: medium;
  border: 1px solid black;
  width: fit-content;
  color: black;
}

.deleted-post-title {
  font-weight: 600;
  text-align: center;
}

/* 게시글 상세 */
.content {
  width: calc(100% - 20px);
  overflow-wrap: anywhere;
  font-size: large;
  padding: 10px;
  margin-bottom: 10vh;
}

.postBottom {
  display: flex;
  justify-content: center;
}

.buttonContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 12vh;
}

.subtitle {
  display: flex;
  gap: 10px;
}

.writer {
  color: var(--color-gray);
  font-size: 15px;
}

.cardType {
  background-color: var(--color-primary);
  width: fit-content;
  padding: 2px 5px;
  border-radius: 10px;
  color: white;
  font-size: small;
}

.circular {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.titleContainer {
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moveButton {
  margin-top: 5%;
  padding: 1%;
  border-radius: 30px;
  background-color: var(--color-mediumgray);
  font-weight: 600;
  font-size: small;
  border: 1px solid black;
  width: fit-content;
}

#hr {
  width: 100%;
  border-bottom: 1px solid var(--color-mediumgray);
}

.title {
  font-size: 22px;
  margin-right: 10px;
}

.imageList {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 8px; /* 스크롤바와 겹치지 않게 */
}

.imageLayout {
  position: relative;
  width: 100px;
  aspect-ratio: 3 / 5;
  margin-right: 10px;
  flex: 0 0 auto; /* 고정 너비로 설정해서 줄바꿈 방지 */
}

.image {
  border-radius: 10px;
}
