#container {
  margin-top: 5%;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--color-mediumgray);
  padding: 10px;
  margin-top: 5px;
  gap: 5px;
}

.read {
  background-color: var(--color-lightgray);
  border-top: 2px solid var(--color-lightpink);
}

.top {
  display: flex;
  justify-content: space-between;
}

.content {
  column-gap: 10px;
  align-items: center;
  display: flex;
}

.date {
  font-weight: 300;
}

.subcontent {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.bottom {
  font-size: 0.9rem;
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
}

.subtitle {
  font-size: 1rem;
}

.close {
  display: flex;
}
