.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
}
