.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
}

.alert {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: 20vh;
  justify-content: space-between;
}

.buttonContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.alertText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.info {
  font-size: 1.3rem;

  color: var(--color-primary);
  display: flex;
}
