#container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

#adArea {
  width: 95%;
  height: 10vh;
  background-color: var(--color-lightgray);
  align-items: center;
}
