#navContainer {
  background-color: white;
  height: 8vh;
  width: calc(90% - 2px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  top: 0;
  z-index: 100;
}

#logo {
  width: 100px;
}

#hamburger {
  width: 24px;
}

#bell {
  width: 24px;
  height: 24px;
}

.overlay {
  position: fixed;
  top: 8vh;
  left: 0;
  width: 90%;
  margin-left: 5%;
  padding: 10px 0;
  border: 1px solid var(--color-mediumgray);
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
